Library
Temp
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Build
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/mothership/v16/.suo
obj/Debug/mothership.csprojAssemblyReference.cache
